PORT = 'value'
JWT_SECRET = 'value'
POSTGRES_USER = 'value'
POSTGRES_PASSWORD = 'value'
POSTGRES_DB = 'value'

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

# user: el nombre de usuario que colocaste como valor de POSTGRES_USER

# password la contraseña que colocaste como valor de POSTGRES_PASSWORD
#  5432 es el puerto de escucha por defecto del localhost de postgressql

# mydb es el nombre de la base de datos ocea el valor de l variable POSTGRES_DB